/* General */

* {
  box-sizing: border-box;
}

/* !!!!!!! Cuidado !!!!!!!!!*/

.row {
  margin-left: 0!important;
  margin-right: 0!important;
}

/* Navegación */

header {
  margin-bottom: 65px;
}

.marco {
  width: 25%;
  border: solid 1px black;
  margin: 0 auto;
}

.marcoReg {
  width: 100%;
  border: solid 1px black;
  padding-left: 20px ;
  padding-right: 20px ;
  padding-top: 10px ;
}

/* Articulos */

.producto .foto img {
  width: 100%;
}

/* Footer */
 footer {
   background-color: #f8f9fa;
   padding: 0 16px;
   margin-top: 65px;
 }

 footer ul {
   list-style-type: none;
   padding-left: 0;
 }

.datosUsuario {
  background-color: black!important;
}

.left{
  text-align: left!important;
}

.carruselH{
  height: 40vh;
  width: 10vw;
  margin: 0 auto;
}

span{
  color: red;
}
